body {
    font-family: Georgia, serif;
  }

  .rectangle {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #9fe2d8;
    color: rgb(6, 100, 89);
    text-align: center;
    z-index:-1; 
   }

   .header {
    position: fixed;
    top: -150px;
    left: -100px;
    clear: both;
    display: inline;
    object-fit: contain;
    color: rgb(6, 100, 89);
  
    
  }
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(109, 214, 194);
    color: white;
    text-align: left;
  }

  .btn-square-xl { 
    width: 200px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 200px !important;
    text-align: center;
    padding: 0px;
    font-size:24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    }

  
  
    

