body {
    font-family: Georgia, serif;
  }

  .rectangle {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #9fe2d8;
    color: rgb(0,121,107);
    text-align: center;
    z-index:-1; 
   }

   .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(109, 214, 194);
    color: white;
    text-align: left;
  }

  
    .btn-square-xl {
    width: 200px !important;
    max-width: 100% !important;
    max-height: 100% !important;
    height: 200px !important;
    text-align: center;
    padding: 0px;
    font-size:24px;
    }