{% extends 'base.html' %}
{% load static %}

{% block title %} {{courses.name}} {% endblock %}

{% block content %}
<title>WMGTSS | {{courses.name}} </title>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'curriculum:course_list' %}">{{courses.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Modules</li>
    </ol>
  </nav>
<!--by calling upon the fk of course in the modules model the related name "modules" allows all created module to be shown 
as upon creation they must have a select course-->
{% for module in courses.modules.all %}
<a href = "{% url 'curriculum:question_list'  slug=module.slug course=courses.slug %}">
  <h2>{{module.module_id}}
    {{module.name}}
  </h2>
  <br>
</a>
{% endfor %}
 
{% endblock %}