{% extends 'base.html' %}
{% load static %}

{% block title %} {{courses.name}} {% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'curriculum:course_list' %}">{{courses.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Modules</li>
    </ol>
  </nav>


{% for module in courses.modules.all %}

<a href = "{% url 'curriculum:question_list'  slug=module.slug course=courses.slug %}">{{module.module_id}}
    {{module.name}}
</a>
{% endfor %}
 
<div class="row justify-content-center">
  {% for module in courses.modules.all %}
  <div class="card mb-5 mr-4 ml-4 box-shadow-hover" style="max-width: 500px;">
    <div class="row no-gutters">
              <div class="col-md-4">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h4 class="card-title" style="color:#ff5722;">{{module.module_id}}</h4>
                  <p class="card-text">{{module.name}}</p>
                  <p class="card-text">{{module.description|truncatechars:75}}</p>
                  <p class="card-text"><small class="text-muted"></small></p>
                      <a href="{% url 'curriculum:question_list'  slug=module.slug course=courses.slug %}"><button class="button-les"> <span> Search Questions</span></button></a>
                </div>
              </div>
    </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}