<!--WMGTSS Q&A Board-->
{% extends 'base.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name = "viewport" content="width =device-width, initial-scale"> 
<link rel="stylesheet" type="text/css" href="{% static 'css/wmgtss.css' %}">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 
 {% block header %} Questions and Answers{% endblock %}

{% block content %}

<title>WMGTSS Ask a Question</title>

<body>
  <div class="content">
<button type="button" class="btn btn-danger btn-square-md">Danger</button>
<button type="button" class="btn btn-warning btn-square-md">Warning</button>
<button type="button" class="btn btn-info btn-square-md">Info</button>
    </div>
</body>


{% endblock %}

</head>

</html>
<!--
<label for="topic">Topic:</label>
<select name="topics" id="topics">
    <option value="Assignment">Assignment Related</option>
    <option value="Lecture">Lecture Related</option>
    <option value="General">General</option>
</select><br><br>
<label for="Assignment ID">Topic:</label>
<select name="topics" id="topics">
    <option value="Assignment">Assignment Related</option>
    <option value="Lecture">Lecture Related</option>
    <option value="General">General</option>
</select><br><br>
<label for="Subject"> Enter the subject of your question:</label> <br>
 <textarea rows="1" cols="25" name="Subject" id="Subject">
 </textarea><br><br>
  <label for="address">Ask Your Question:</label> <br>
  <textarea rows="10" cols="50" name="Question" id="Question"></textarea><br>
  <label for="file-select" style = "text-align: center;">Upload Attachment:</label>
  <input type="file" name="upload" id="file-select"> <br>
  -->