{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block header %} Question{% endblock %}
{% block content %}

<title>Q&A | WMGTSS </title>

<body>

submitted by {{object.created_by}} on {{object.created_at}}
<hr>
<p> Subject:{{object.subject}}</p>
<p> Question:{{object.question}}</p>
{% csrf_token %}

<br>
{% for answer in questions.answers.all %}

Answered by {{answer.author}} on {{answer.date_added}}<br>
Answer:{{answer.body}}
<br>

{% endfor %}
{% if request.user.is_staff %}
<p> Uploaded: {{question.picture}}</p>

<br>


    <a href = "{% url 'curriculum:question_update' course=questions.course.slug module=questions.module.slug slug=questions.slug %}"> Update Question </a>
    <a href = "{% url 'curriculum:question_delete' course=questions.course.slug module=questions.module.slug slug=questions.slug %}"> Delete Question </a>


    <h4>Answer the question below</h4>
    <form method="post" style ="list-style:none;" >
        {% csrf_token %}
        {{ form|crispy}}
        <input type ='submit' name ='answer' value ='Answer Question'>
        </form>
{% endif %}
{% endblock %}


