{% extends 'base.html' %}
{% load static %}
{% block title %} Questions {% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="#">Courses</a></li>
      <li class="breadcrumb-item"><a href="#">Modules</a></li>
      <li class="breadcrumb-item active" aria-current="page">Questions</li>
    </ol>
  </nav>
<title>Q&A | WMGTSS </title>

<body>
    <div class="content" style= "text-align: left;">
        <a href="{% url 'curriculum:question_create' course=modules.course.slug slug=modules.slug %}"><button type="button"  class= "btn-square-xl" >Ask a Question</button></a>
        </div>
<h1>Submitted Questions</h1>
{% for question in modules.questions.all %}
<a href="{% url 'curriculum:question_detail' slug=question.slug module=modules.slug course=question.course.slug %}" >
    {{question.subject}}: {{question.question}} | asked on {{question.created_at}} by {{question.created_by}} </a>
<br>
{% endfor %}

 
{% endblock %}

</body>