{% extends 'base.html' %}
{% load static %}
{% block title %} {{modules.name}} {% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'curriculum:course_list' %}">{{modules.course}}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'curriculum:module_list' slug=modules.course.slug %}">{{modules.name}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Questions</li>
    </ol>
  </nav>
  <title>WMGTSS | {{modules.name}} </title>

<body>

<h3>Submitted Questions</h3>
{% csrf_token %}
<form action="#" method="GET" value="{{request.GET.q}}">
  <input type="text" name="q" value="{{request.GET.q}}" placeholder="Search Questions"/>
  <button class= "btn btn-outline-secondary" type="submit">Search</button></a>
  </form>
  <br>
  
  {% if submitbutton == 'Search' and request.GET.q != '' %}
  {% if results %}
  
  <h1>Results for <b>{{ request.GET.q }}</b></h1>
  <br/><br/>
  
  {% for result in results %}
  
    {{result.created_at}}
    {{result.created_by}}
  {% endfor %}
  {% else %}
  No search results for this query
  {% endif %}
  {% endif %}
  

{% for question in modules.questions.all %}
<a href="{% url 'curriculum:question_detail' slug=question.slug module=modules.slug course=question.course.slug %}" >
    {{question.subject}}: {{question.question}} | asked on {{question.created_at}} by {{question.created_by}} </a>
<br>
<hr>
{% endfor %}

<div class="row d-flex justify-content-center mb-3">
           <a href="{% url 'curriculum:question_create' course=modules.course.slug slug=modules.slug %}"><button type="button" class="btn btn-success btn-lg btn-bloc" > Ask Question </button> </a>
    
        </div>
        <div class="row d-flex justify-content-center mb-3 mt-3">
          <div class="col-md-4 mb-3 mr-3">
            <a href="#" class="btn btn-secondary btn-block">Submit Module Feedback</a>
          </div>
      <div class="col-md-4 mb-3 mr-3">
          <a href="#" class="btn btn-secondary btn-block">Go to Module Quizzes</a>
  </div>
        <div class="col-md-4 mb-3 mr-3">
          <a href="#" class="btn btn-secondary btn-block">Open Module Resources</a>
      </div>
 </div>
 <br>
 <br>
{% endblock %}

</body>