{% extends 'base.html' %}
{% load static %}

{% block content %}
<h3 class="mb-4" style="color:#ff5722;">Are you sure you want to delete?</h3>

<form method="post">
  {% csrf_token %}
  <div class="row">
        <div class="col-md-4 mb-3 mr-3">
                <input type="submit" value="Delete" class="btn btn-danger btn-block">
        </div>
        <div class="col-md-4 mb-3 mr-3">
                <a href="{% url 'curriculum:question_detail' course=questions.course.slug module=questions.module.slug slug=questions.slug %}" class="btn btn-warning btn-block">Cancel Deletion</a>
        </div>
  </div>
</form>

{% endblock %}