<!-- templates/base.html -->
{% load static %}


<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content="width =device-width, initial-scale"> 
  <link rel="stylesheet" type="text/css" href="{% static '/css/wmgtss.css' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" >  
    <script src="{% static 'bootstrap.min.js' %}"></script>  
  
    {% block title %}{% endblock %}

  <p style = "text-align : right;">Welcome {{ user.username }}</p>  

<div class="rectangle">
  <p>
    <img src="{% static "/images/WMGTSS.png" %}"
     width="500" height="400" alt="Logo" class="heading" />
  <style>
    .heading {
  position: fixed;
  top: -150px;
  left: -100px;
  clear: both;
  display: inline;
  object-fit: contain;
}
  </style>
   </p>
</div>


  <!--if user logs on as admin as extra link in navigation bar to the admin site-->
  {% if user.is_superuser %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style = "text-align : right;">
    <a class="navbar-brand" href="#"></a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
            <a class="nav-item nav-link" href="#">Profile</a>
            <a class="nav-item nav-link" href="#">Messages</a>
            <a class="nav-item nav-link disabled" href="#">Settings</a>
            <a class="nav-item nav-link disabled" href="http://127.0.0.1:8000/admin/">Admin Site</a>
        </div>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-light bg-light" style = "text-align : right;">
  <a class="navbar-brand" href="#"></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#">Home <span class="sr-only"></span></a>
          <a class="nav-item nav-link" href="#">Profile</a>
          <a class="nav-item nav-link" href="#">Messages</a>
          <a class="nav-item nav-link disabled" href="#">Settings</a>
      </div>
  </div>
</nav>
{% endif %}



<div class="container" align = "center";>
  <div class= header>
    <style>
      .header {
    
    color: rgb(5, 70, 62);
    font-size: 45px;
    display: inline-block;
    padding: -15px;
    margin-top: -100px;
    
  
  }
    </style>
  <!--creates a block for header -->
    {% block header%}{% endblock %}
  </div>

  <div>
  

</head>

<main>
  {% block content %}

  {% endblock %} 
</main>


<footer>
    <div class="footer">
      <p style ="text-indent: 40px">You are logged in as {{user.username}} | 
        <a href="{% url 'login' %}"> Log Out</a>
      | </p>
    </div>
  </footer>
  

</html>