{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name = "viewport" content="width =device-width, initial-scale"> 
  <link rel="stylesheet" type="text/css" href="{% static 'css/wmgtss.css' %}">
  <link href="{% static 'css/bootstrap.min.css' %}" >  
  <script src="{% static 'bootstrap.min.js' %}"></script>  


{% if user.is_authenticated %}






{% block content %}


  <p style = "text-align : right;">Welcome {{ user.username }}</p>
  <h1 >Dashboard</h1>

  

  
  




















<head>
 <meta charset="utf-8">
<title>Dashboard</title>
<img src="Logo.png"
  left = 0;
   top = 0;
   width = 15%;
   height = 50px;
 
>


<style>
  .rectangle {
     position: fixed;
     left: 0;
     top: 0;
     width: 100%;
     height: 100px;
     background-color: #9fe2d8;
     color: rgb(0,121,107);
     text-align: center;
     z-index:-1; <!--move object backwards one--> 
    }
  </style>

<div class="header-img"></div>
<div class="rectangle"></div>


</style>
</head>
<body>
  {% endblock %}
   
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(109, 214, 194);
  color: white;
  text-align: left;
}
</style>

<div class="footer">
  <p style ="text-indent: 40px">You are logged in as  (Sign Out)</p>
</div>
</body>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

</html>