<!--WMGTSS Q&A Board-->
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 
 {% block header %} Questions and Answers{% endblock %}



{% block content %}

<title>WMGTSS Q&A Board</title>

<body>
  <h1>Ask a Question</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token%}
    {{question_form}}
<input type = 'Submit' value="Submit" class="btn btn-primary btn-block">
  </form>
</form>

</form>
</body>



{% endblock %}




</head>
</html>