<!--WMGTSS Q&A Board-->
{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 
<title>WMGTSS Q&A Board</title>

{% block header %} Questions and Answers{% endblock %}


{% block content %}
{% endblock %}






</style>
</head>
<body>
    
<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(109, 214, 194);
  color: white;
  text-align: left;
}
</style>

<div class="footer">
  <p style ="text-indent: 40px">You are logged in as  (Sign Out)</p>
</div>
</body>
</html>